<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Suporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/serviços.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Serviços de Suporte</ion-card-subtitle>
        <ion-card-title>Seja bem vindo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Oferecemos suporte tecnico e informações de como proceder..</p>
      </ion-card-content>
    </ion-card>
</ion-content>
