<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-start name="suporte" id="suporte">
        <ion-button color="light" routerLink="./suporte/suporte.module#suportePageModule" routerDirection="suporte">
         <ion-img src="/assets/suporte.svg" ionError="suporte"></ion-img>
        </ion-button>
        <ion-label>Suporte técnico</ion-label>
      </ion-col>


      <ion-col align-self-center>
        <ion-button color="light">
          <ion-img src="/assets/reparo.svg" ionError="reparo"></ion-img>
        </ion-button>
        <ion-label>Serviço de Reparo</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-start>
        <ion-button color="light">
          <ion-img src="/assets/shop.svg" ionError="shop"></ion-img>
        </ion-button>
        <ion-label>Shop</ion-label>
      </ion-col>

      <ion-col align-self-center>
        <ion-button color="light">
          <ion-img src="/assets/entrega.svg" ionError="entrega"></ion-img>
        </ion-button>
        <ion-label>Serviço de Frete</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
