<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-start name="suporte" id="suporte">
        <ion-button color="light" routerLink="/suporte" routerDirection="suporte">
         <ion-img src="/assets/suporte.svg" ionError="suporte"></ion-img>
        </ion-button>
        <ion-label>Suporte técnico</ion-label>
      </ion-col>


      <ion-col align-self-center name="reparo" id="reparo">
        <ion-button color="light" routerLink="/reparo" routerDirection="reparo">
          <ion-img src="/assets/reparo.svg" ionError="reparo"></ion-img>
        </ion-button>
        <ion-label>Serviço de Reparo</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-start name="eletrico" id="eletrico">
        <ion-button color="light" routerLink="/eletrico" routerDirection="eletrico">
          <ion-img src="/assets/eletrico.svg" ionError="eletrico"></ion-img>
        </ion-button>
        <ion-label>Serviço eletricos</ion-label>
      </ion-col>

      <ion-col align-self-center name="entrega" id="entrega">
        <ion-button color="light" routerLink="/entrega" routerDirection="entrega">
          <ion-img src="/assets/entrega.svg" ionError="entrega"></ion-img>
        </ion-button>
        <ion-label>Serviço de Frete</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
